<% provide(:title, 'Home') %>

<div class="center hero-unit">
  <h1>StaticPages#home</h1>
  <p>Find me in app/views/static_pages/home.html.erb</p>
  <p>Sample App</p>

  <%= link_to "Sign up now!", "signup_path", class: 'btn btn-large btn-primary'  %>
</div>

<%= link_to image_tag("/assets/rails.png", alt: "Rails"), "https://rubyonrails.org/"  %>
